.game {
    margin: 5px;
    padding: 5px;
    background: #dcd0c0;
}

.control-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    background: #c0b283;
}

.cell {
    width: 10px;
    height: 10px;
    border: solid 0.5px #585858;
    display: inline-block;
}

.cell.alive {
    background: #dcd0c0;
}

.cell.dead {
    background: #373737;
}

.grid-row {
    display: flex;
    flex-direction: row;
}

.grid {
    border: 1px #585858;
    display: flex;
    flex-direction: column;
}
